@import '../../styles/colors';
@import '../../styles/typhography';
.region-select {
  width: 50%;
  padding: 15px 20px;
  margin: 20px auto;
  border: none;
  background-color: map-get($light, white);
  box-shadow: $shadow-border;
  border-radius: 5px;
  color: map-get($dark, veryDarkBlueText);
  font-size: $font-size-s;
  font-weight: $font-weight-light;
  cursor: pointer;
  @media (min-width: 1000px) {
    width: 16%;
    padding: 0 20px;
    margin: 20px 0;
  }
}

.region-select:focus,
.region-select:focus-visible {
  outline: none;
}

select[class='region-select dark'] {
  background-color: map-get($dark, darkBlue);
  color: map-get($light, white);
}
