.cards-container {
  display: grid;

  grid-template-columns: 1fr;
  justify-items: center;
  gap: 50px;
  padding-top: 2px;
  justify-content: space-between;

  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1350px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
