@import '../../styles/colors';
@import '../../styles/typhography';
.wrapper {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 5px;
  @media (min-width: 1000px) {
    width: 35%;
    margin: 20px 0;
  }

  .icon {
    height: 30px;
    width: 30px;
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: map-get($light, darkGray);
  }

  .input {
    box-shadow: $shadow-border;
    height: 50px;
    padding-left: 4.5rem;
    color: map-get($light, darkGray);
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: $font-size-s;
    font-weight: $font-weight-light;
  }
  .input::placeholder {
    color: map-get($light, darkGray);
  }
  :focus {
    outline: none;
  }
}

.dark {
  .icon {
    color: map-get($light, white);
  }
  .input {
    background-color: map-get($dark, darkBlue);
    color: map-get($light, white);
  }
  .input::placeholder {
    color: map-get($light, white);
  }
}
