@import '../../styles/colors';
@import '../../styles/typhography';
.header {
  background-color: map-get($light, white);
  box-shadow: $shadow-border;
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    padding: 24px 20px;
    margin: 0 auto;
  }
  &__title {
    font-size: $font-size-m;
    font-weight: $font-weight-medium;
    color: map-get($dark, veryDarkBlueText);
  }

  &__color-mode-toggle {
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: $font-size-s;
    font-weight: 300;
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &__color-mode-toggle:focus,
  &__color-mode-toggle:focus-visible {
    outline: none;
  }
}

header.dark {
  background-color: map-get($dark, darkBlue);

  .header__title,
  .header__color-mode-toggle {
    color: map-get($light, white);
  }
}
